<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>HttpClient with AsyncPipe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Qiita検索
      <ion-chip color="primary">
        <ion-label>{{ requestCount }}</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label color="primary" stacked>検索キーワード</ion-label>
        <ion-input (keyup)="requestQiitaItems($event.target.value)" placeholder="ここに入力してください"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <button ion-item *ngFor="let item of items$ | async" (click)="clickItem(item.url)">
      {{ item.title }}
    </button> 
  </ion-list>

  <ion-card *ngIf="!items$ || (items$ | async)?.length === 0">
    <ion-card-header>
      <ul>
        <li>非同期処理: HttpClient</li>
        <li>AsyncPipe: あり</li>
      </ul>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>キーボード入力の度に新しい非同期処理が作成されるが、<strong>HttpClientとAsyncPipeのコンビネーションにより最後の非同期処理以外は自動的にキャンセルされる。</strong></li>
        <li>処理効率は良いが、キャンセル前にリクエストがAPIまで到達していたらAPI呼び出しはされてしまう。</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
