<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>HttpClient with Subject queue</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Qiita検索
      <ion-chip color="primary">
        <ion-label>req:{{ requestCount }} / res:{{ responseCount }}</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label color="primary" stacked>検索キーワード</ion-label>
        <ion-input (keyup)="requestQiitaItems($event.target.value)" placeholder="ここに入力してください"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="clickItem(item.url)">
      {{ item.title }}
    </button> 
  </ion-list>

  <ion-card *ngIf="!items || items?.length === 0">
    <ion-card-header>
      <ul>
        <li>非同期処理: HttpClientと<code>Subject</code></li>
        <li>AsyncPipe: なし</li>
      </ul>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>キーボード入力の度に新しい非同期処理を<strong>作成しない。</strong></li>
        <li><code>Subject</code>により入力をキューイングしている。</li>
        <li>AsyncPipeが不要になりtemplateがスッキリする。</li>
        <li>必要になるまでAPI呼び出しをしないので<strong>APIサーバーに余計な負荷をかけない。</strong></li>
        <li><code>debounceTime</code>によりキーボード入力の間隔が200ms空くまでAPI呼び出しをしない。</li>
        <li><code>distinctUntilChanged</code>によりキーワードが前回のAPI呼び出しから変わるまで次のAPI呼び出しをしない。</li>
        <li><code>Observable.fromEvent</code>を使う書き方よりも読みやすいコードになる。</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
