<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fetch</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Qiita検索 (by Fetch)
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label color="primary">検索キーワード</ion-label>
        <ion-input (input)="requestQiitaItems($event.target.value)" placeholder="ここに入力してください"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="clickItem(item.url)">
      {{ item.title }}
    </button> 
  </ion-list>

  <ion-card *ngIf="!items || items?.length === 0">
    <ion-card-header>
      <ul>
        <li>非同期処理: Fetch</li>
        <li>AsyncPipe: なし</li>
      </ul>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>キーボード入力の度に新しい非同期処理が作成され、並列で走るので<strong>どの非同期処理の結果がViewに反映されるかがわからない。</strong></li>
        <li>(AsyncPipeを使っていないのでリストの表示に関してキューイングがされていない。)</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
